*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:var(--color-bg);
  color:var(--color-white);
  font-family:var(--font-body);
  overflow-x:hidden;
}

img{
  display:block;
  max-width:100%;
}

button{
  font:inherit;
}

a{
  text-decoration:none;
  color:inherit;
}

ul{
  list-style:none;
}

/* Hide Scrollbar */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}





